@mixin btn-primary {
   background-color: $primary-700;
    opacity: 1;
    color: $neutral-50;
    gap: 10px;
    padding-top: 14px;
    padding-right: 48px;
    padding-bottom: 14px;
    padding-left: 48px;
    border: none;


    &:hover {
        background-color: $accent-red;
        color: $neutral-50;
        text-decoration: none;
        border: none;
    }

}




.btn-primary {
    @include btn-primary;
}



.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    @include btn-primary;
}