// primary

$primary-900: #0084ff;
$primary-700: #0069cc;
$primary-500: #e6f3ff;

// neutral
$neutral-900: #000;
$neutral-700: #4a4a4a;
$neutral-400: #BDBDBD;
$neutral-50: #FFFFFF;

// accent
$accent-green: #1BC47D;
$accent-mint: #CFF7E6;
$accent-blue-soft: #CBE6FF;

// status colors
$success: #00B26A;
$warning: #FFC247;
$error: #FF4D4F;