// basic
$pc-bg-grey: #ECEAEC;
$pc-bg-black: #090209;
$pc-white: #FFFFFF;
$pc-black: #000000;
$pc-text: #211B21;

// grays
$pc-gray-dark: #D1D1D1;
$pc-gray-bright: #E1E1E1;
$pc-gray-btn: #E0DEE0;
$pc-gray-btn-bg: #878787;

// primary
$pc-purple-dark: #593E66;
$pc-purple-bright: #AA8FB7;
$pc-green-dark: #425B3F;
$pc-green-bright: #51804A;