#header {
    .header-nav {
        background-color: $primary-700;
        padding: 8px 0;

        .col-9 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .recomendation {
                color: $neutral-50;
                @include sm-text;
                display: none;

                @include breakpoint-up(lg) {
                    display: block;
                }
            }

            .contact-info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .sociale {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 0.8rem;

                    a {
                        margin-left: 0.4rem;

                        img {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }

                .mail,
                .phone-number {
                    a {
                        color: $neutral-50;
                        @include sm-text;
                        margin-left: 1.2rem;

                        &:hover {
                            text-decoration: underline;
                        }

                        img {
                            height: 15px;
                            width: auto;
                            margin-right: 3px;
                        }
                    }

                }
            }
        }
    }

    .header-top {
        .header-top__content {
            padding-bottom: 10px !important;

            .header-top__row {
                position: relative;

                .logo-wrapper {


                    @include breakpoint-up(md) {
                        width: 95%;
                        padding: 40px 20px;
                        background-color: #fff;
                        position: absolute;
                        bottom: -25px;
                        left: 0;
                    }

                    @include breakpoint-up(lg) {
                        padding: 30px;
                    }

                    @include breakpoint-up(xl) {
                        bottom: -35px;

                    }
                }
            }
        }
    }
}